* {
    font:                        "JetBrainsMono Nerd Font 18";
    background:                  #1F1F28;
    background-alt:              #292933;
    foreground:                  #DCD7BA;
    selected:                    #7E9CD8;
    active:                      #76946A;
    urgent:                      #C34043;
}
